 <div class="user-details">
  <h1> About Peppercorn </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Smart title</h2>
      <!--<i class="devicon-html5-plain-wordmark"></i> -->
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Explain how great we are here. but not too shortly because it moves, so a few more words</p>
    </div>
    <div class="tech">
      <h2>Smart title 2</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Smart title 3</h2>
      <!--<i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>-->
      <p>Can also be without a picture, can also be less smart titles this is just super basic stuff</p>
    </div>
</div>
