 <div class="user-details">
  <h1> Creators </h1>
</div>
  <div class="user">
      <div class="tech">
    </div>
    <div class="tech">
      <h2>Masha Medvedeva</h2>
        <img alt="mountains" src="{{ "/assets/img/masha_logo.jpeg" | prepend: site.baseurl }}" /width="200">
        
      <p>Masha is so great I don't know how anyone else could build this</p>
    </div>
    <div class="tech">
      <h2>Alex Belloir</h2>
        <img alt="mountains" src="{{ "/assets/img/alex_logo.jpeg" | prepend: site.baseurl }}" /width="200">

      <p>Alex is a genious who knows absolutely everything</p>
    </div>
        <div class="tech">
    </div>
    </div>
</div>
