<div class="user-details">
  <h1> Some unrealistic expectations </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Buzz title </h3>
    <ul>
      <li> An empty promise</li>
    </ul>
    <p>Look how pretty the mountain is! Is this a good place to discuss a few things about how the system is going to work step by step with a little picture?</p>
  <!--  <a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Another Title </h3>
    <ul>
      <li> More things we are going to do</li>
    </ul>
    <p>We are very brave and hip! Here we are talking about how we use the innovation of AI, machine learning, and technologies. I would try to create small logos for each step or even gifs.</p>
   <!-- <a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
