body {
  /* background-color: #f7e5e8; */
  background-color: #F7EBEB;
  font-family: 'Poppins', sans-serif;
}


.navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-brand img {
  padding-top: 10px;
  height: 40px;
}
.navbar-nav .nav-link {
  color: #243680;
}

.nav-item {
  margin: 0 5px;
}

.hero-box {
  /* height: 95vh; */
  background: url('static/images/hero-box-center-background.png') no-repeat center center;
  background-size: cover;
  color: #243680;
  padding: 280px 0 300px 0;
}

.hero-box h1 {
  font-size: 3.8rem;
  font-weight: 700;
}

.hero-box p {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 400;
}
.content-box {
  text-align: center;
  background-color: #ffffff;
  padding: 25px 0 20px 0;
  border-width: 4px;
  border-color: #F6CDCA;
  border-style: solid;
  border-radius: 0.8rem;
  color: #243680;
  /* margin: 0px 0 30px 0; */

}

.container-info {

  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}


.btn {
  margin-top: 30px;
  outline: none !important;
  background-color: #f24444;
  border-style: solid #ED5434;
  color:#ffffff;

  border-width: 1px;
  border-radius: 0.8rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.22);
}

.btn:hover {
  background-color: #1d5359;
  color:#ffffff;
  transition-duration: 0.3s;
  outline: none !important;
  box-shadow: none !important;
}

.btn-blue {
  background-color: #243680;
  margin-top: -16px;
  margin-left: 5px;
  padding: 3px 15px;
}

.content-features {
  text-align: center;
  background-color: #ffffff;
  padding: 25px 0 20px 0;
  border-width: 4px;
  border-color: #F6CDCA;
  border-style: solid;
  border-radius: 0.8rem;
  color: #243680;
  /* margin: 0px 0 30px 0; */
  padding: 180px;

}

.smaller {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.container-info {
  width: 85%;
}

.footer {
  background-color: #F5CDCA;
  padding: 45px 0 30px 0;
  margin-top: -30px;
}
